// Generic partials & fonts
@import 'abstracts/reset', 'abstracts/centering', 'abstracts/utils';


// Variables
$ad-width: 970px;
$ad-height: 90px;
$ad-background: #ebf1f7;
$ad-margin: 0;
$font-primary: Helvetica, Arial, sans-serif;
$font-color: white;

// Baselines
@import 'base';

span {
	display: inline-block;
}

.wrap {
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
}

#ef_logo {
	top: 24px;
	height: 95px;
}

#ef_logos {
	top: 130px;
}

.rtb_logo,
.key_message_logo {
	left: 88.4%;
	top: 8%;
}

#legal {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #7e7e7e;
	font-size: 10px;
	bottom: 6px;
	opacity: 0.7;
	letter-spacing: 0.016em;
	right: 22px;
}

.headline {
	font-size: 24px;
	width: 382px;
	height: 78px;
}

.cta {
	font-size: 13px;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	background: rgb(107, 227, 232);
	background: linear-gradient(180deg, rgba(107, 227, 232, 1) 0%, rgba(55, 165, 183, 1) 100%);
	border-radius: 20px;
	border: 1px solid white;
	padding: 0.31em 0.65em;
	letter-spacing: 0.03em;
	white-space: nowrap;
	line-height: 1;
}

.cta_f1 {
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.cta_rtb {
	top: 59px;
	right: 23px;
}

.rtb_box {
	width: 250px;
	left: 355px;
	padding: 12px 17px;
	top: 50%;
	transform: translateY(-50%);
}

.rtb_network_logo {
	top: 15%;
	//transform: translateY(-50%);
	right: 622px;
}

.rtb_copys {
	top: 7px;
	margin-right: 11px;
}

.rtb_headline,
.rtb_title {
	display: inline-block; // can't be 'inline' because we need width and height
	width: 92%; // for fitText
}

.rtb_headline {
	font-size: 22px;
	height: 70px; // for fitText
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 32 / 34 * 1;
	bottom: 0;
}

.rtb_title {
	font-size: 12px;
	height: 18px; // for fitText
	margin-top: 8px;
	text-transform: uppercase;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 1;
}

.rtb_logo {
	//top: 182px;
}

#arrow_wrap {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	$size: 26px;
	width: $size;
	height: $size;
	#arrow1, #arrow2 {
		width: 19 / 32 * 100%;
		height: 19 / 32 * 100%;
		> svg {
			width: 100%;
			height: 100%;
		}
	}
	#arrow1 {
		transform: rotate(90deg);
		left: 14 / 32 * 100%;
		top: 14 / 32 * 100%;
	}

	#arrow2 {
		transform: rotate(-90deg);
		left: 0;
		top: 0;
	}
}

#key_message {
	//width: 155px;
	width: 100%;
	height: 100%;
	.headline {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.headline {
	font-size: 24px;
	display: block;
	width: 380px;
	height: 280px;
	text-align: center;
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 0.923;
	letter-spacing: 0.016em;
	background: rgb(194, 41, 69);
	background: linear-gradient(90deg, rgba(194, 41, 69, 1) 0%, rgba(64, 62, 153, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

////// FALLBACK FOR IE10 AND UP, WHERE NO GRADIENT TEXT WORKS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.headline {
		color: #7b2e63;
		background: none !important;
	}
}

.key_message_logo {
	//bottom: 70px;
	//left: 13px;
}
