.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo {
  width: 242px;
  height: 174px;
  background-position: 0px 0px;
  background-size: 243px 237px; }
.sprite-png.logo_small_grey {
  width: 145px;
  height: 28px;
  background-position: 0px -180px;
  background-size: 243px 237px; }
.sprite-png.logo_small_white {
  width: 122px;
  height: 23px;
  background-position: 0px -213px;
  background-size: 243px 237px; }