body {
  font: 62.5% Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.invisible {
  display: none !important;
}

.clearfix {
  overflow: auto;
}

.wrap {
  width: 340px;
  margin: 0 auto;
}

/* Header */
#header {
  padding: 20px 0;
}

#rga-logo,
#site-name {
  float: left;
}

#rga-logo {
  margin-right: 10px;
}

#site-name {
  font-size: 1.7em;
  line-height: 1.2;
}

/* Main content */
#main-content {
  padding: 20px 0 40px;
}

/* Navigation bar */
#content-bar {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#campaign-title {
  font-size: 2.6em;
  float: left;
  line-height: 1;
  margin: 0;
}

#toggle-view {
  float: right;
}

#toggle-view ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toggle-view ul li {
  cursor: pointer;
  float: left;
  margin-left: 15px;
}

.icon-inactive {
  opacity: 0.25;
}

/* Showcase banners */
.creatives {
  border-bottom: 1px solid #eee;
  padding: 20px 0 40px;
}

.creatives:last-child {
  border: none;
}

.creative-title {
  font-size: 2.1em;
}

.banners a {
  display: block;
  font-size: 1.4em;
}

.banners a * {
  pointer-events: none;
}

.banners a:hover {
  color: red;
}

.grid {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid li {
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  text-align: center;
  width: 160px;
}

.grid li:nth-child(2n) {
  margin-right: 0;
}

.list .backup {
  display: none;
}

.list {
  margin: 0;
  padding: 0;
}

.list a {
  border-bottom: 1px solid #eee;
  display: block;
  margin: -1px 0 0 0;
  padding: 15px 0;
}

.list li:last-child a {
  border-bottom: none;
}

.backup {
  display: table-cell;
  width: 160px;
  height: 160px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
  position: relative;
}

.backup svg, .backup img {
  display: block;
  margin: 0 auto;
  max-width: 160px;
  max-height: 160px;
  width: auto;
  height: auto;
}

/* Preview */
#preview {
  border: 1px solid #eee;
  position: absolute;
  top: 0;
}

#preview-image {
  background-size: 100% 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .wrap {
    width: 700px;
  }

  #header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #campaign-title {
    font-size: 3.2em;
  }

  .grid li:nth-child(2n) {
    margin-right: 20px;
  }

  .grid li:nth-child(4n),
  .list li:nth-child(2n) {
    margin-right: 0;
  }

  .list li {
    display: block;
    float: left;
    width: 340px;
    margin-right: 20px;
  }

  .list li:last-child a {
    border-bottom: 1px solid #eee;
  }
}

/* Desktop small */
@media screen and (min-width: 1024px) {
  .wrap {
    width: 880px;
  }

  .grid li:nth-child(2n),
  .grid li:nth-child(4n) {
    margin-right: 20px;
  }

  .grid li:nth-child(5n) {
    margin-right: 0;
  }

  .list li {
    width: 430px;
  }
}

/* Desktop large */
@media screen and (min-width: 1240px) {
  .wrap {
    width: 1060px;
  }

  .grid li:nth-child(2n),
  .grid li:nth-child(4n),
  .grid li:nth-child(5n),
  .list li:nth-child(2n) {
    margin-right: 20px;
  }

  .grid li:nth-child(6n) {
    margin-right: 0;
  }

  .list li {
    width: 340px;
  }

  .list li:nth-child(3n) {
    margin-right: 0;
  }
}