/**
 * Main base
 * ---------
 * Generic ad layout file
 */

body {
  background: #707070;
}

#ad_content {
  background: $ad-background;
  font-family: $font-primary;
  overflow: hidden;
  color: $font-color;

  div, img, svg {
    position: absolute;
  }
}

.backup {
  background: url('backup.jpg') -1px -1px no-repeat;
  background-size: $ad-width $ad-height;
}

#ad_content, .backup {
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: $ad-width;
  height: $ad-height;
}