.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo {
  width: 439px;
  height: 141px;
  background-position: 0px 0px;
  background-size: 441px 228px; }
.sprite-png.logo_large_grey {
  width: 127px;
  height: 79px;
  background-position: 0px -147px;
  background-size: 441px 228px; }
.sprite-png.logo_small_grey {
  width: 145px;
  height: 28px;
  background-position: -132px -147px;
  background-size: 441px 228px; }
.sprite-png.logo_small_white {
  width: 122px;
  height: 23px;
  background-position: -282px -147px;
  background-size: 441px 228px; }