// Generic partials & fonts
@import 'abstracts/reset', 'abstracts/centering', 'abstracts/utils';

// Variables
$ad-width: 300px;
$ad-height: 600px;
$ad-background: #ebf1f7;
// $ad-background: url("ref.jpg") -1px -1px no-repeat;
$ad-margin: 0;
$font-primary: Helvetica, Arial, sans-serif;
$font-color: white;

// Baselines
@import 'base';

/* ---------------------------------------- */
span {
	display: inline-block;
}

.wrap {
	width: $ad-width;
	height: $ad-height;
}

#bg {
	bottom:0;
}

#headline-wrap {
    width: 250px;
    height: 66px;
    display: flex;
    top: 135px;
    align-items: center;
}

.headline {
	display: inline-block; // can't be 'inline' because we need width and height
	width: 100%;
	height:50px;
	text-align: center;
	text-transform: uppercase;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 24px;
	line-height: 0.955;
	letter-spacing: 0.016em;
	background: rgb(194,41,69);
	background: linear-gradient(90deg, rgba(194,41,69,1) 0%, rgba(64,62,153,1) 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

}

////// FALLBACK FOR IE10 AND UP, WHERE NO GRADIENT TEXT WORKS AND FIXEX MIDDLE ALIGN ISSUES
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .headline {
		color:#7b2e63;
		background: none!important;
		top: 50%;
		transform: translateY(-50%);
	}
}


#logo {
	bottom:20px;
	left: 13px;
}

#cta {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	background: rgb(107,227,232);
	background: linear-gradient(180deg, rgba(107,227,232,1) 0%, rgba(55,165,183,1) 100%);
	border-radius: 20px;
	border:1px solid white;
	padding: 5px 14px;
    letter-spacing: 0.03em;
	white-space: nowrap;
	top: 202px;
	right: 15px;
}

#legal {
	font-family: canada-type-gibson,sans-serif;
	font-weight: 300;
	font-style: normal;
	color:#7e7e7e;
	font-size: 9px;
	bottom:3px;
	opacity: 0.7;
}



