.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo {
  width: 287px;
  height: 69px;
  background-position: 0px 0px;
  background-size: 288px 159px; }
.sprite-png.logo_large_grey {
  width: 79px;
  height: 49px;
  background-position: 0px -108px;
  background-size: 288px 159px; }
.sprite-png.logo_small_grey {
  width: 145px;
  height: 28px;
  background-position: 0px -75px;
  background-size: 288px 159px; }
.sprite-png.logo_small_white {
  width: 122px;
  height: 23px;
  background-position: -150px -75px;
  background-size: 288px 159px; }