// Generic partials & fonts
@import 'abstracts/reset', 'abstracts/centering', 'abstracts/utils';

// Variables
$ad-width: 300px;
$ad-height: 600px;
$ad-background: #ebf1f7;
$ad-margin: 0;
$font-primary: Helvetica, Arial, sans-serif;
$font-color: white;

// Baselines
@import 'base';
@import 'sass/rtb';
@import 'sass/arrow_wrap';
@import 'sass/cta';
@import "sass/key_message";

span {
	display: inline-block;
}

.wrap {
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
}

#logo {
	top: -42px;
}

#ef_logo {
	top: 24px;
	height: 95px;
}

#ef_logos {
	top: 130px;
}

.rtb_logo {
	top: 82.6%;
	left: 50%;
	transform: translate(-50%);
}

#legal {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #7e7e7e;
	font-size: 10px;
	bottom: 6px;
	opacity: 0.7;
	letter-spacing: 0.016em;
}



