// Generic partials & fonts
@import 'abstracts/reset', 'abstracts/centering', 'abstracts/utils';

// Variables
$ad-width: 160px;
$ad-height: 600px;
$ad-background: #ebf1f7;
$ad-margin: 0;
$font-primary: Helvetica, Arial, sans-serif;
$font-color: white;

// Baselines
@import 'base';

/* ---------------------------------------- */
span {
	display: inline-block;
}

.rtb_box {
	width: 145px;
	top: 285px;
	padding: 0 14px;
}

.rtb_network_logo {
	right: 12px;
	top: 13px;
	transform: scale(1);
	transform-origin: right;
}

.rtb_copys {
	top: 7px;
	margin-right: 11px;
}

.rtb_headline {
	width: 100%; // for fitText
	height: 85px; // for fitText
	display: inline-block; // can't be 'inline' because we need width and height
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 28px;
	letter-spacing: 0.016em;
	line-height: 0.929;
	bottom: 0;
}

.rtb_title {
	width: 100%; // for fitText
	height: 30px; // for fitText
	display: inline-block; // can't be 'inline' because we need width and height
	margin-top: 8px;
	text-transform: uppercase;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	letter-spacing: 0.030em;
	line-height: 1;
}

.rtb_logo {
	top: 85%;
	left: 50%;
	transform: translate(-50%);
}

.wrap {
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
}

#arrow_wrap {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	$size: 19px;
	width: $size;
	height: $size;
	#arrow1, #arrow2 {
		width: 19 / 32 * 100%;
		height: 19 / 32 * 100%;
		> svg {
			width: 100%;
			height: 100%;
		}
	}
	#arrow1 {
		transform: rotate(90deg);
		left: 14 / 32 * 100%;
		top: 14 / 32 * 100%;
	}

	#arrow2 {
		transform: rotate(-90deg);
		left: 0;
		top: 0;
	}
}


.headline {
	display: block; // can't be 'inline' because we need width and height
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 12px;
	height: 120px;
	text-align: center;
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	line-height: 0.923;
	letter-spacing: 0.016em;
	//top: 67px;
	background: rgb(194, 41, 69);
	background: linear-gradient(90deg, rgba(194, 41, 69, 1) 0%, rgba(64, 62, 153, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

////// FALLBACK FOR IE10 AND UP, WHERE NO GRADIENT TEXT WORKS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.headline {
		color: #7b2e63;
		background: none !important;
	}
}

#key_message {
	height: 100%;
	width: 100%;
}

#logo {
	top: -42px;
}

#ef_logo {
	top: 24px;
	height: 95px;
}

#ef_logos {
	top: 130px;
}

.key_message_logo {
	bottom: 70px;
	left: 13px;
}

.cta {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 14px;
	background: rgb(107, 227, 232);
	background: linear-gradient(180deg, rgba(107, 227, 232, 1) 0%, rgba(55, 165, 183, 1) 100%);
	border-radius: 20px;
	border: 1px solid white;
	padding: 5px 14px;
	letter-spacing: 0.03em;
	white-space: nowrap;
}

.cta_f1 {
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}

.cta_rtb {
	//top: 203px;
	//right: 14px;
	top: 543px;
	right: 21px;
}

#legal {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #7e7e7e;
	font-size: 10px;
	bottom: 6px;
	opacity: 0.7;
}
