.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo {
  width: 139px;
  height: 100px;
  background-position: 0px 0px;
  background-size: 267px 129px; }
.sprite-png.logo_small_grey {
  width: 122px;
  height: 23px;
  background-position: 0px -105px;
  background-size: 267px 129px; }
.sprite-png.logo_small_white {
  width: 122px;
  height: 23px;
  background-position: -144px 0px;
  background-size: 267px 129px; }