.sprite-png { background-image: url('sprite.png') }
.sprite-png.logo {
  width: 180px;
  height: 129px;
  background-position: 0px 0px;
  background-size: 309px 159px; }
.sprite-png.logo_small_grey {
  width: 122px;
  height: 23px;
  background-position: 0px -135px;
  background-size: 309px 159px; }
.sprite-png.logo_small_white {
  width: 122px;
  height: 23px;
  background-position: -186px 0px;
  background-size: 309px 159px; }