<head>
    <meta charset="utf-8">
    <title>Banner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="ad.size" content="width=0,height=0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="bundle.css">
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/pxk7jbe.css">
</head>