    <!--[if !IE]><!-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    <script src="bundle.js"></script>
    <!--<![endif]-->
    <!--[if IE]>
    <script>
        document.getElementById('backup').className = 'backup'; // IE9 or below
    </script>
    <![endif]-->