#arrow_wrap {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	$side: 32px;
	width: $side;
	height: $side;
	#arrow1, #arrow2 {
		width: 19 / 32 * 100%;
		height: 19 / 32 * 100%;
		> svg {
			width: 100%;
			height: 100%;
		}
	}
	#arrow1 {
		transform: rotate(90deg);
		left: 14 / 32 * 100%;
		top: 14 / 32 * 100%;
	}

	#arrow2 {
		transform: rotate(-90deg);
		left: 0;
		top: 0;
	}
}
