/**
 * Generic animations
 * ------------------
 * Based on Penner approximations
 */

// --- Easings ---
// Sine
.ease-in-sine {transition-timing-function: cubic-bezier(0.33, 0, 0.67, 0.33);}
.ease-out-sine {transition-timing-function: cubic-bezier(0.33, 0.67, 0.67, 1);}
.ease-in-out-sine {transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);}

// Cubic
.ease-in-cubic {transition-timing-function: cubic-bezier(0.33, 0, 0.67, 0);}
.ease-out-cubic {transition-timing-function: cubic-bezier(0.33, 1, 0.67, 1);}
.ease-in-out-cubic {transition-timing-function: cubic-bezier(0.67, 0, 0.33, 1);}

// Expo
.ease-in-expo {transition-timing-function: cubic-bezier(0.67, 0, 0.85, 0);}
.ease-out-expo {transition-timing-function: cubic-bezier(0.15, 1, 0.33, 1);}
.ease-in-out-expo {transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);}

// None
.ease-none {transition-timing-function: linear;}

// --- Transitions ---
.trans-4000 {transition-duration: 4s;}
.trans-3000 {transition-duration: 3s;}
.trans-2000 {transition-duration: 2s;}
.trans-1000 {transition-duration: 1s;}
.trans-500 {transition-duration: 500ms;}
.trans-250 {transition-duration: 250ms;}
.trans-80 {transition-duration: 80ms;}
.trans-0 {transition-duration: 0ms !important;}