/**
 * Centering utilties
 * ------------------
 */

// odd pixel dimension/2 rounding up consistently
.center {left: 0; right: 0; margin-left: auto; margin-right: auto;}
.middle {top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;}
.center-middle {left: 0; right: 0; top: 0; bottom: 0; margin: auto;}

// using translate may put images on half-pixel in some browsers
.center-trans {left: 50%; transform: translateX(-50%);}
.middle-trans {top: 50%; transform: translateY(-50%);}
.center-middle-trans {left: 50%; top: 50%; transform: translate(-50%, -50%);}