/**
 * Main reset
 * ----------
 */

// Poor Man's Reset - http://sixrevisions.com/css/a-comprehensive-guide-to-css-resets/
html, body {padding: 0; margin: 0; user-select: none;}
html {font-size: 1em;}
body {font-size: 100%;}
a img, :link img, :visited img {border: 0;}
*, *:before, *:after {box-sizing: border-box;}