/**
 * Generic utilties
 * ----------------
 */

// --- Visibility ---
.alpha-0 {opacity: 0;}
.invisible {visibility: hidden;} // still in layout
.hide {display: none;} // remove from layout, DOM will re-flow
.offstage {left: -9999px; top: -9999px;} // throw outside of viewport, far far away

// --- Rendering ---
// Fonts
.anti-alias {font-smooth: always; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

// Hardware acceleration
.gpu {backface-visibility: hidden; transform: translateZ(0);}

// General fixes
.line-fix {outline: 1px solid transparent;} // in some cases, this fixes black lines around JPGs produced by scaling issues

// Firefox hack
@supports (-moz-appearance: meterbar) {
  .gpu {transform: translateZ(0) rotate(0.02deg);} // GPU on children + smooth jittery animation in Firefox
}

// Transforms
.transform-reset {transform: none !important;}