// Generic partials & fonts
@import 'abstracts/reset', 'abstracts/centering', 'abstracts/utils';

// Variables
$ad-width: 320px;
$ad-height: 480px;
$ad-background: #ebf1f7;
$ad-margin: 0;
$font-primary: Helvetica, Arial, sans-serif;
$font-color: white;

// Baselines
@import 'base';
@import 'sass/arrow_wrap';
@import 'sass/cta';
@import "sass/key_message";

span {
	display: inline-block;
}

.wrap {
	width: $ad-width;
	height: $ad-height;
	overflow: hidden;
}

#logo {
	top: -42px;
}

#ef_logo {
	top: 24px;
	height: 95px;
}

#ef_logos {
	top: 130px;
}

.rtb_logo,
.key_message_logo {
	left: 50%;
	transform: translateX(-50%);
	top: 380px;
}

#legal {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #7e7e7e;
	font-size: 10px;
	bottom: 6px;
	opacity: 0.7;
	letter-spacing: 0.016em;
}

.rtb_box {
	top: 198px;
	width: 100%;
	padding: 18px 20px;
}

.rtb_network_logo {
	right: 19px;
	top: 5%;
	transform: scale(1.35);
	transform-origin: right;
}

.rtb_copys {
	top: 7px;
	margin-right: 11px;
}

.rtb_headline,
.rtb_title {
	display: inline-block; // can't be 'inline' because we need width and height
	width: 92%; // for fitText
}

.rtb_headline {
	font-size: 37px;
	height: 94px; // for fitText
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 32 / 34 * 1;
	bottom: 0;
}

.rtb_title {
	font-size: 15px;
	height: 30px; // for fitText
	margin-top: 8px;
	text-transform: uppercase;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 1;
}

.rtb_logo {
	//top: 182px;
}
