.cta {
	font-size: 15px;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 500;
	font-style: normal;
	background: rgb(107, 227, 232);
	background: linear-gradient(180deg, rgba(107, 227, 232, 1) 0%, rgba(55, 165, 183, 1) 100%);
	border-radius: 20px;
	border: 1px solid white;
	padding: 0.54em 1.05em;
	letter-spacing: 0.03em;
	white-space: nowrap;
	line-height: 1;
}

.cta_f1 {
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}

.cta_rtb {
	top: 416px;
	left: 50%;
	transform: translateX(-50%);
}
