#key_message {
	//width: 155px;
	width: 100%;
	height: 100%;
	.headline {
		top: 42%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.cta_rtb {
		left: 50%;
		transform: translateX(-50%);
		right: auto;
		top: 70%;
	}
}

.headline {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 0.923;
	letter-spacing: 0.016em;
	background: rgb(194, 41, 69);
	background: linear-gradient(90deg, rgba(194, 41, 69, 1) 0%, rgba(64, 62, 153, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

////// FALLBACK FOR IE10 AND UP, WHERE NO GRADIENT TEXT WORKS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.headline {
		color: #7b2e63;
		background: none !important;
	}
}

.key_message_logo {
	//bottom: 70px;
	//left: 13px;
}
