.rtb_box {
	padding: 18px 20px;
	top: 56px;
	left: 44%;
	width: 40%;
}

.rtb_network_logo {
	right: 58%;
	top: 9%;
	transform: scale(1.6);
	transform-origin: right;
}

.rtb_copys {
	top: 7px;
	margin-right: 11px;
}

.rtb_headline,
.rtb_title {
	display: inline-block; // can't be 'inline' because we need width and height
	width: 92%; // for fitText
}

.rtb_headline {
	font-size: 37px;
	height: 94px; // for fitText
	text-transform: uppercase;
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 32 / 34 * 1;
	bottom: 0;
}

.rtb_title {
	font-size: 19px;
	height: 30px; // for fitText
	margin-top: 8px;
	text-transform: uppercase;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.05em;
	line-height: 1;
}

.rtb_logo {
	//top: 182px;
}
